# Used when you run run_pipeline.py directly on your Mac
SRC_DB_HOST=localhost
SRC_DB_PORT=5432
SRC_DB_NAME=metabric_prod
SRC_DB_USER=postgres
SRC_DB_PASSWORD=<your-postgres-password>

DEST_DB_HOST=localhost
DEST_DB_PORT=5432
DEST_DB_NAME=metabric_warehouse
DEST_DB_USER=postgres
DEST_DB_PASSWORD=<your-postgres-password>

# Used only by Airflow containers.
# Encode special password characters: @ → %40, # → %23, etc.
AIRFLOW_CONN_METABRIC_OLTP=postgres://postgres:<URL_ENCODED_POSTGRES_PASSWORD>@host.docker.internal:5432/metabric_prod
AIRFLOW_CONN_METABRIC_WAREHOUSE=postgres://postgres:<URL_ENCODED_POSTGRES_PASSWORD>@host.docker.internal:5432/metabric_warehouse

# Airflow’s own local metadata database and web-login configuration
AIRFLOW_UID=1000
FERNET_KEY=<your-existing-fernet-key>
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=<choose-an-airflow-login-password>